.cardWrapper {
    @apply flex w-full overflow-x-auto overflow-y-hidden -ml-10 mdd:-ml-5 pl-10;
    height: auto;
    width: 100%;
    mask-image: linear-gradient(to left, #ffffff 95%, rgba(255, 255, 255, 0));
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.card {
    @apply flex-none w-80 aspect-[0.75] rounded-lg relative;
    border: solid 2px transparent;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(to bottom, #38383820, #7B7B7B20, #FFFFFF20);
    }

    &.border-gradient-dark:before {
        background: linear-gradient(to top, #38383850, #7B7B7B50, #FFFFFF50);
    }
}

.description {
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}