.typeWriter {
    width: 100%;
    overflow: hidden;
    animation: typing 2s steps(15), cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
@keyframes typing {
    from {width: 0;}
}

.fake_logo {
    color: #10141D
}

:global(.dark) {
    .fake_logo {
        background-image: linear-gradient(183deg, rgba(204, 204, 204, 0.40) 6.15%, #CCC 46.93%, #CCC 57.71%, rgba(204, 204, 204, 0.40) 96.14%);
        background-clip: text;
        color: transparent
    }
}

.mouse_move {
    transition: all .5s;
    transform-origin: center center;
    transform: translateY(0px);
    animation: trans .5s ease-in-out alternate infinite;

    @keyframes trans {
        from {
            transform: translateY(0px)
        }
        to {
            transform: translateY(-3px)
        }
        
    }
    &:hover{
        cursor: pointer;
    }
}