.langMenu{
  .preview{
    i{
      font-size: 1.5em;
    }
  }
  .menuButton{
    i{
      font-size: 1em;
      margin-right: 1em;
    }
  }
}

.linkItem {
  position: relative;
  display: inline-block;
  &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #7B00FF;
      transition: width .3s ease 0s, left .3s ease 0s;
      transform-origin: center center;
  }
  &:hover {
      &:before {
          width: 100%;
          left:0;
      }
  }

}