.container {
    border: 1px solid transparent;
    border-radius: 50%;
    z-index: 10;

    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
    }

    &:before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(transparent, transparent) padding-box,
            linear-gradient(215deg, #37353510 0%, #FFFFFF20 35.5%, #7B00FF 69.5%, #656565 85%) border-box;
    }

    .icon {
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .imgBx {
            position: absolute;
            border-radius: 50%;
            transition: 0.5s;
            transform: rotate(calc(360deg/var(--count) * var(--i)));
            z-index: 100;
            overflow: hidden;
            display: flex;
            align-items: center;
            border: solid 2px rgba($color: #ffffff, $alpha: 0.2);
            backdrop-filter: blur(40px);
            cursor: pointer;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: -3px;
                border-radius: inherit;
                background: linear-gradient(to top, #38383820 0%, #7B7B7B20 34%, #FFFFFF20 100%);
            }

            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: none;
                border-radius: 50%;
                align-self: center;
                transform: rotate(calc(-360deg/var(--count) * var(--i)));
                transition: 0.5s;
            }
        }

        .imgBx:hover {
            cursor: pointer;
            background: linear-gradient(#ffffff20, #ffffff10);
            animation: bg-animation 5s alternate;

            @keyframes bg-animation {
                0% {
                    background-position: top;
                }

                100% {
                    background-position: bottom;
                }
            }
        }
    }
}


.cardProject {
    @apply rounded-lg flex flex-col p-10 justify-start gap-5 border-white/20 border-2 z-30 w-80;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, .1);
    box-shadow: -1em .1em 1em -2em rgba(255, 255, 255, .1),
        1em .2em 1em -1em rgba(255, 255, 255, .1),
        -1em .2em 1em -1em rgba(255, 255, 255, .1);


    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &::after {
        z-index: 20;
        bottom: -45px;
        left: 20px;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        background: radial-gradient(circle at top right, #45FFCD 14%, #182E33 100%);

    }

    &::before {
        z-index: -10;
        top: -35px;
        right: -40px;
        border-radius: 50%;
        height: 107px;
        width: 107px;
        background: radial-gradient(circle at top left, #BE9DEA 0%, #BE9DEA 46%, #BE9DEA60 75%, #BE9DEA00 100%);
    }

}

.bubble {
    position: relative;
    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &::before {
        z-index: -10;
        top: 50%;
        right: -50px;
        border-radius: 50%;
        height: 140px;
        width: 140px;
        background: radial-gradient(circle at center, #45FFCD 0%, #45FFCD64 22%, #45FFCD38 53%, #45FFCD00 100%);
        filter: blur(10px);
    }
    &::after {
        z-index: -10;
        top: 10%;
        left: -55px;
        border-radius: 50%;
        height: 227px;
        width: 227px;
        background: radial-gradient(circle at center, #7B00FF 0%, #7B00FF64 22%, #7B00FF38 53%, #7B00FF00 100%);
    }
}

.animatedContent {
    position: absolute;
    inset: 0;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 80px;
        border: 2px solid transparent;
        border-left: 2px solid rgb(134, 23, 255);
        border-right: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
        animation: animation_1 8s linear infinite;
        pointer-events: none;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 120px;
        border: 2px solid transparent;
        border-right: 2px solid rgb(134, 23, 255);
        border-left: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
        animation: animation_2 10s linear infinite;
        pointer-events: none;
        z-index: 1;
    }

    @keyframes animation_1 {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 360deg;
        }
    }

    @keyframes animation_2 {
        100% {
            rotate: 0deg;
        }

        0% {
            rotate: 360deg;
        }
    }
}