.container {
    border: 1px solid transparent;
    border-radius: 50%;
    z-index: 10;

    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
    }

    &:before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(transparent, transparent) padding-box,
            linear-gradient(215deg, #37353510 0%, #FFFFFF20 35.5%, #7B00FF 69.5%, #656565 85%) border-box;
    }

    .icon {
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .imgBx {
            position: absolute;
            border-radius: 50%;
            transition: 0.5s;
            transform: rotate(calc(360deg/var(--count) * var(--i)));
            z-index: 100;
            overflow: hidden;
            display: flex;
            align-items: center;
            border: solid 2px rgba($color: #ffffff, $alpha: 0.2);
            backdrop-filter: blur(40px);
            cursor: pointer;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: -3px;
                border-radius: inherit;
                background: linear-gradient(to top, #38383820 0%, #7B7B7B20 34%, #FFFFFF20 100%);
            }

            &:after {
                position: absolute;
                content: '';
                height: 150px;
                width: 20px;
                background: #ffffff;
                box-shadow: 0 0 10px #fff;
                filter: blur(1px);
                opacity: .2;
                top: -30px;
                transition: .8s;
                transform: rotate(-20deg) translateX(-60px);
            }
            &:hover:after {
                transform: rotate(-20deg) translate(140px, 70px);
            }

            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: none;
                border-radius: 50%;
                align-self: center;
                transform: rotate(calc(-360deg/var(--count) * var(--i)));
                transition: 0.5s;
            }
        }

        .imgBx:hover {
            cursor: pointer;
            background: linear-gradient(#ffffff20, #ffffff10);
            animation: bg-animation 5s alternate;

            @keyframes bg-animation {
                0% {
                    background-position: top;
                }

                100% {
                    background-position: bottom;
                }
            }
        }
    }
}


.cardProject {
    position: relative;
    z-index: 10;
    @apply 
        rounded-lg 
        flex
        justify-between 
        border-white/20 
        border-2 w-80;
    backdrop-filter: blur(45px);
    background: rgba(255, 255, 255, .1);
    padding: {
        left: 36px;
        right: 36px;
        top: 36px;
        bottom: 77px;
    };

    &::after,
    &::before {
        content: '';
        position: absolute;
    }

    &::before {
        z-index: -1;
        top: 50%;
        right: -50px;
        border-radius: 50%;
        height: 140px;
        width: 140px;
        background: radial-gradient(circle at center, #45FFCD 0%, #45FFCD64 22%, #45FFCD38 53%, #45FFCD00 100%);
        filter: blur(35px);
        transition: all 1s;
        animation: clign 5s ease-out infinite;
        @media (max-width: 640px) {
            right: -10px;
        }

        @keyframes clign {
            0% {
                background: radial-gradient(circle at center, #45FFCD 0%, #45FFCD64 22%, #45FFCD38 53%, #45FFCD00 100%); 
            }
            50% {
                background: radial-gradient(circle at center, #45FFCD50 0%, #45FFCD64 22%, #45FFCD38 53%, #45FFCD00 100%); 
            }
            100% {
                background: radial-gradient(circle at center, #45FFCD20 0%, #45FFCD64 22%, #45FFCD38 53%, #45FFCD00 100%); 
            }
        }
    }
    
    &::after {
        z-index: 20;
        bottom: -30px;
        left: 20px;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        background: radial-gradient(80% 95.81% at 93.56% 35.8%, #45FFCD 14%, #182E33 100%);
        transform-origin: center center;
        animation: moveHorizontal 25s ease infinite;

        @keyframes moveHorizontal {
            0% {
                transform: translateX(-50%) translateY(-10%);;
            }
            50% {
                transform: translateX(50%) translateY(10%);
            }
            100% {
                transform: translateX(-50%) translateY(-10%);
            }
        }
    }

}

.bubble {
    position: relative;
    &::after,
    &::before {
        content: '';
        position: absolute;
    }

    &::before {
        z-index: 0;
        top: -27px;
        right: -50px;
        border-radius: 50%;
        height: 107px;
        width: 107px;
        background: radial-gradient(85.99% 85.99% at 57.87% 7.48%, #BE9DEA 0.1%, #BE9DEA 46.11%, rgba(190, 157, 234, 0.60) 74.68%, rgba(190, 157, 234, 0.00) 100%);
        @media (max-width: 640px) {
            right: -20px;
        }
    }
    
    &::after {
        z-index: 0;
        top: 10%;
        left: -55px;
        border-radius: 50%;
        height: 227px;
        width: 227px;
        background: radial-gradient(95.42% 95.42% at 95.83% 16.38%, #7B00FF 0%, rgba(123, 0, 255, 0.64) 22.3%, rgba(123, 0, 255, 0.38) 53.46%, rgba(123, 0, 255, 0.00) 100%);
        transform-origin: center center;
        animation: moveInCircle 25s ease infinite;

        @keyframes moveInCircle {
            0% {
                transform: rotate(0deg);
                filter: blur(10px);
            }
            50% {
                transform: rotate(180deg) translateX(-50%);
                filter: blur(20px);
            }
            100% {
                transform: rotate(360deg) translateY(-10%);
            }
        } 
    }
}

.animatedContent {
    position: absolute;
    inset: 0;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        inset: 80px;
        border: 2px solid transparent;
        border-left: 2px solid rgb(134, 23, 255);
        border-right: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
        animation: animation_1 8s linear infinite;
        pointer-events: none;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 120px;
        border: 2px solid transparent;
        border-right: 2px solid rgb(134, 23, 255);
        border-left: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
        animation: animation_2 10s linear infinite;
        pointer-events: none;
        z-index: 1;
    }

    @keyframes animation_1 {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 360deg;
        }
    }

    @keyframes animation_2 {
        100% {
            rotate: 0deg;
        }

        0% {
            rotate: 360deg;
        }
    }
}