.borderGradient {
    &:hover{
      -webkit-box-shadow: 0px 33px 24px -30px rgba(0,0,0,0.97); 
      box-shadow: 0px 33px 24px -30px rgba(0,0,0,0.97);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -2.5px;
      border-radius: 10px;
      background-image: linear-gradient(to bottom, #38383820 0%, #7B7B7B20 34%, #FFFFFF20 100%);
      animation: gradientAnim 30s linear infinite alternate-reverse forwards;
    }
    @keyframes gradientAnim {
      0% {
          background-size: 400% 400%;
          background-position: 150%;
          background-image: linear-gradient(to right, transparent);
      }
  
      50% {
          background-size: 500% 500%;
          background-position: 400%;
          background-image: linear-gradient(to left, #7B00FF40 0%, #7B00FF00 100%);
      }
  
      100% {
          background-size: 200% 200%;
          background-position: 0%;
          background-image: linear-gradient(to bottom, #38383820 0%, #7B7B7B20 34%, #FFFFFF00 100%);;
          // background-image: linear-gradient(to right, #7B00FF20 0%, #7B00FF00 100%);
      }
  }
}
  
:global(.dark) {
  .borderGradient {
    &:hover{
      -webkit-box-shadow: 0px 20px 31px -12px rgba(0,0,0,0.97); 
      box-shadow: 0px 20px 31px -12px rgba(0,0,0,0.97);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -2.5px;
      border-radius: 10px;
      background-image: linear-gradient(to bottom, #38383820 0%, #7B7B7B20 34%, #FFFFFF20 100%);
      animation: gradientAnimD 30s linear infinite alternate-reverse forwards;
    }
  }
  @keyframes gradientAnimD {
    0% {
        background-size: 400% 400%;
        background-position: 150%;
        background-image: linear-gradient(to right, transparent);
    }

    50% {
        background-size: 500% 500%;
        background-position: 400%;
        background-image: linear-gradient(to left, #45FFCD40 0%, #45FFCD00 100%);
    }

    100% {
        background-size: 200% 200%;
        background-position: 0%;
        background-image: linear-gradient(to right, #45FFCD30 0%, #45FFCD00 100%);
    }
  }
}