.form {
    border: 2px solid transparent;
    position: relative;

    &:before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: -2px;
        border-radius: inherit;
        background: linear-gradient(transparent, transparent) padding-box,
            linear-gradient(215deg, #37353510 0%, #FFFFFF20 35.5%, #7B00FF 69.5%, #656565 85%) border-box;
    }
}