.cardList{
    max-width: 100%;
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 6%, #ffffff 20%, #ffffff 80%, rgba(255, 255, 255, 0) 94%);
    position: relative;
}

.cardListWrapper {
    
}

.arrow_left {
    &:hover {
        transition: all .5s;
        transform-origin: center center;
        transform: translateX(0px);
        animation: trans .6s ease-in-out alternate infinite;

        @keyframes trans {
            from {
                transform: translateX(0px)
            }
            to {
                transform: translateX(-2px)
            }
            
        }
    }
}

.arrow_right {
    &:hover {
        transition: all .5s;
        transform-origin: center center;
        transform: translateX(0px);
        animation: trans .6s ease-in-out alternate infinite;

        @keyframes trans {
            from {
                transform: translateX(0px)
            }
            to {
                transform: translateX(2px)
            }
            
        }
    }
}